/* Skip to main content Functionality*/
#skip{
    opacity: 0;
}
#skip:focus{
    opacity: 100;
}

/* Form Design */
#formSubmit {
    opacity: 100;
}

.hidden {
    display: none;
}
.show {
    opacity: 100;
}
/* Form Confirm Screen */
#entryConfirmScreen {
    display: grid;
    grid-template-columns: 1fr 2fr 1 fr;
    text-align: center;
    
}
#entryConfirmScreen .container {
    grid-column: 2;
}

/* Will Further update to have same stylings as nav buttons */

#entryConfirmScreen button {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgb(254, 212, 213);
}

/* footer design */
footer {
    text-align: center;
}
.createEntryBtn {
    text-align: center;
}

#journalFilter {
    text-align: center;
}
#allEntries {
    display: grid;
}

img {
    height: 50%;
    width: 50%;
}
figure > img, figcaption {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.introduction {
    text-align: center;
    margin-bottom: 2%;
}

.gameImg {
    display: block;
}

.entryImg {
    height: 60%;
    width: 30%;
}


form {
    display: inline-block; 
}

.entryForm {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

form {
    grid-column: 2;
}
