/* Skip to main content Functionality*/
#skip{
    opacity: 0;
}
#skip:focus{
    opacity: 100;
}

/* Form Design */
#formSubmit {
    opacity: 100;
}

.hidden {
    display: none;
}
.show {
    opacity: 100;
}
/* Form Confirm Screen */
#entryConfirmScreen {
    display: grid;
    grid-template-columns: 1fr 2fr 1 fr;
    text-align: center;
    
}
#entryConfirmScreen .container {
    grid-column: 2;
}

/* Will Further update to have same stylings as nav buttons */

#entryConfirmScreen button {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgb(254, 212, 213);
}

/* footer design */
footer {
    text-align: center;
}

