/* Skip to main content Functionality*/
#skip{
    opacity: 0;
}
#skip:focus{
    opacity: 100;
}

/* Form Design */
#formSubmit {
    opacity: 100;
}

/* footer design */
footer {
    text-align: center;
}